extends base

block content
  main.main
    .signup-form
      h2.heading-secondary.ma-bt-lg Sign up
      form.form
        .form__group
          label.form__label(for='signup-name') Email address
          input#signup-name.form__input(type='text', placeholder='Your name', required)
        .form__group
          label.form__label(for='signup-email') Email address
          input#signup-email.form__input(type='email', placeholder='email@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='signup-password') Password
          input#signup-password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='signup-passwordConfirm') Confirm Password
          input#signup-passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Sign Up

